
pypdf
langchain
llama_index==0.9.9
bitsandbytes
transformers
sentence_transformers
huggingface_hub
rank_bm25
milvus[client]
cryptography>=3.1
llama_cpp_python
tiktoken
isort
fastapi
python-multipart
